.GoogleMapStyle iframe {
  width: 1400px;
  height: 400px;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .GoogleMapStyle iframe {
    width: 350px;
    height: 300px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .GoogleMapStyle iframe {
    width: 750px;
    height: 500px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .GoogleMapStyle iframe {
    width: 1400px;
    height: 600px;
  }
}
