.contactContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: #384bff;
  border-radius: 12px;
  gap: 5rem;
  width: 1400px;
}
.verTicalStyling {
  display: flex;
  flex-direction: column;
}
.contactTitleStyle {
  color: white;
  font-size: 15px;
}
.parContactStyle {
  font-size: 19px;
  font-weight: bold !important;
  color: white;
  margin-top: 1.2rem;
  text-wrap: wrap;
}
.contactBtn {
  margin-top: 2rem;
  background: transparent;
  background-color: white;
  color: black;
  border-radius: 12px;
  width: 234px;
  height: 55px;
}
/* responsive */
@media screen and (min-width: 300px) and (max-width: 500px) {
  .contactContainer {
    flex-direction: column;
    width: 730px;
  }
  .contactBtn {
    margin-left: 12rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .contactContainer {
    flex-direction: column;
    width: 853px;
  }
  .contactBtn {
    margin-left: 12rem;
  }
}
