.navBtnAboutStyle button {
  background-color: white;
  background: transparent;
  cursor: pointer;
  color: black;
  width: 118px;
  height: 60px;
  border-radius: 20px;
}
/* responsive */
@media screen and (min-width: 300px) and (max-width: 500px) {
  .menuIcon2 {
    display: block;
    font-size: 30px;
    color: black;
  }
  .navStyle {
    justify-content: space-between;
  }
  .navStyle ul {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .navStyle ul.open {
    display: block;
  }
  .navStyle ul li {
    text-align: center;
    font-size: 20px;
  }
  .navBtnAboutStyle button {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .menuIcon2 {
    display: block;
    font-size: 30px;
    color: black;
  }
  .navStyle {
    justify-content: space-between;
  }
  .navStyle ul {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .navStyle ul.open {
    display: block;
  }
  .navStyle ul li {
    text-align: center;
    font-size: 15px;
  }
  .navBtnAboutStyle button {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .navStyle ul.open {
    display: none;
  }
  .menuIcon2 {
    display: none;
  }
}
