.teamMenbersTitleStyle {
  color: #384bff;
  font-size: 12px;
  text-align: left;
}
.teamMenbersTitleStyle2 {
  font-size: 30px;
  color: #171524;
  text-align: left;
}
.containerStyle {
  display: flex;
  flex-direction: column;
}
.TeamMembersContainer {
  display: flex;
  justify-content: space-between;
}
.memberImgContainer {
  display: flex;
  flex-direction: column;
}
.buttonStyle2 button {
  background: transparent;
  cursor: pointer;
  background-color: #384bff;
  color: white;
  width: 118px;
  height: 40px;
  border-radius: 20px;
}
.MembersFlexDecoration {
  display: flex;
  gap: 72px;
}
.memberInformationStyling {
  background-color: #171524;
  color: white;
  font-size: 22px;
  border-radius: 16px;
}

.titleInformationStyling {
  margin-top: 0.3rem;
  font-size: 12px;
  background-color: #171524;
  color: white;
  border-radius: 16px;
}
/* responsive */
@media screen and (min-width: 300px) and (max-width: 501px) {
  .MembersFlexDecoration {
    flex-direction: column;
  }
  .TeamMembersContainer {
    flex-direction: column;
  }
  .teamMenbersTitleStyle {
    font-size: 10px;
  }
  .teamMenbersTitleStyle2 {
    font-size: 13px;
  }
  .buttonStyle2 button {
    margin-left: 10rem;
    margin-top: 1rem;
  }
  .memberImgContainer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .teamMenbersTitleStyle {
    font-size: 15px;
  }
  .teamMenbersTitleStyle2 {
    font-size: 18px;
  }
  .buttonStyle2 button {
    margin-left: 24rem;
    margin-top: 2rem;
  }
  .memberImgContainer {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .teamMenbersTitleStyle {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .teamMenbersTitleStyle2 {
    font-size: 22px;
    text-wrap: nowrap;
  }
  .buttonStyle2 button {
    margin-left: 45rem;
    margin-top: 7rem;
  }
  .memberImgContainer {
    margin-top: 3rem;
  }
}
